Django >= 2.1.1                                                                                         # Django framework (https://www.djangoproject.com/)
psycopg2 >= 2.7.5 --no-binary psycopg2                                                                  # PostgreSQL adapter (https://github.com/psycopg/psycopg2)